CompileFlags:
  Add: [
    "-DGL_GLEXT_PROTOTYPES",
    "-include", "GL/gl.h", # fixes LSP 
    "-xc++",
    "-target", "x86_64-w64-mingw32",
    "-isystem", "C:/msys64/ucrt64/include",
    "-isystem", "C:/msys64/ucrt64/include/c++",
    "-isystem", "C:/msys64/ucrt64/include/c++/x86_64-w64-mingw32"
  ]
  Remove: [
    "-include*glad.h" #for LSP
  ]
Diagnostics:
  Suppress: [
    "pp_hash_error"
  ]
Compiler: C:/msys64/ucrt64/bin/g++.exe
